@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@600&display=swap');

@layer components {
  .logo-text {
    font-family: 'Tektur', sans-serif;
    font-weight: 550;
  }
}

@layer components {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: rgb(251, 245, 235);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
